@{
    ViewData["Title"] = "Home Page";
}

<div class="container-calendar">

    <div class="left-table">
        <div id="select-date"></div>
        <div id="calendar"></div>

        <div class="style-selecter">
            <select id="type-calendar">
                <option value="Work">Рабочий календарь</option>
                <option value="Home">Домашний календарь</option>
                <option value="Family">Семейный календарь</option>
            </select>
        </div>
    </div>

    <div class="right-table">
        <div id="bigCalendar"></div>
    </div>

</div>